@font-face {
  font-family: svbasicmanual;
  src: url(./svbasicmanual.ttf);
}

html body {
	min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "svbasicmanual";
    /* font-family: "Courier"; */
    /* font-size: large; */
    font-size: 18pt;
    transition: background-color 0.5s ease;
}

a {
	color: #2962ff;
	text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    min-height: 84.9vh;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
	margin-top: 1em;
}

#info-box {
    display:inline-block;
    /* padding:2em; */
    margin-left: 1em;
    max-width: 40em;
	background-color: rgba(255,255,255,0.8);
	justify-content: center;
	align-items: center;
}

#profile_image {
	border-radius: 2em;
	vertical-align: top;
	border: solid 1pt black;
	overflow: hidden;
	width: 250px;
	height: 250px;
}

#profile_image img {
	position: relative;
	height: 300px;
	left: -20px;
	/* top: +10px; */
}

.section {
    width: 80%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* News */

.news-box {
    display: block;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /* max-height: 37%; */
    overflow-y: auto;
}
.news-box li {
    display: inline-block;
    max-width: 40em;
    vertical-align: text-top;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 5px;
    background-color: white;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid black;
    height: 5vh;
    background-color: white;
}
.navbar a {
    display: inline-block;
}

.navbar a {
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    /* padding-top: 1em; */
    /* padding-bottom: 0.5em; */
    text-decoration: none;
    /* background-color: gray; */
    /* border-radius: 15px; */
}

.navbar a:visited {
    color: black;
}

.navbar a:hover {
    color: silver;
    text-decoration: underline;
}

/* Gallery */
.photo-wall {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    overflow-y: auto;
}

.photo-wall img {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    height: 10vh;

    /*
    clear: both;
    position: fixed;
    width: 100%;
    bottom: 0;
     */
}

.footer li {
    display: inline-block;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
    /* margin-bottom: 1em; */
}

.footer a {
    color: white;
    text-decoration: none;
}

/*  ?  */
.itemize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemize box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 100px;
    background-color: silver;
    border-radius: 100%;
    margin: 1px;
}

/* Publication card box */
.cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  max-width: 40em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.2em;
  width: 45%;
  height: 300px;
  background-color: white;
}

.card p {
	text-align: center;
}

/* Background Triangles */
.bg-effect {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;
	height: 100vh;
	width: 90vw;
	margin: 0;
	padding: 0;
}

.bg-effect .bg-effect-fix {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.bg-effect .bg-elem {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color:  transparent;
	border-bottom-width: 10pt;
	border-left-width: 5pt;
	border-right-width: 5pt;
	border-bottom-color: #e0e0e0;
	margin: 0;
	padding: 0;
/* transition: all 1s ease-out; */
}

.bg-effect .bg-elem:nth-child(even) {
	border-bottom-color: transparent;
	border-top-color: rgba(130, 80, 100, 0.1);
	border-top-width: 10pt;
	border-bottom-width: 0;
}

/* Responsive to display width */
@media screen and (max-width: 1000px) {
  body {
    font-size: 12pt;
  }
  .cardbox {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 200px;
  }

  #profile_image {
	  display: none;
  }
}
